<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gps.sweeprobot">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name"
        android:hardwareAccelerated="false"
        >

        <!--WangJun Begin-->
        <activity android:name=".model.main.view.activity.WifiActivity"/>

        <activity android:name=".model.mapmanager.view.activity.MapManagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".model.mapmanager.view.activity.MapEditActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".model.setting.view.SettingActivity"></activity>
        <activity android:name=".model.setting.view.SpeedActivity"></activity>
        <activity android:name=".model.setting.view.InfoActivity"></activity>
        <!--wangJun end-->

        <activity android:name=".model.main.view.activity.WelcomeActivity"
            >

        </activity>

        <!-- ZHOUKAN - BEGINNING -->
        <activity android:name=".model.main.view.activity.MainActivity"
            android:launchMode="singleTask"
            >

        </activity>

        <activity android:name=".model.main.view.activity.IpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".model.createmap.view.activity.CreateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            />
        <activity android:name=".model.taskqueue.view.activity.TaskQueueActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".model.taskqueue.view.activity.TaskTypeActivity"
            />
        <activity android:name=".model.taskqueue.view.activity.AddTaskActivity"
            />
        <activity android:name=".model.taskqueue.view.activity.TaskDetailActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".model.taskqueue.view.activity.EditNaveTaskActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!-- ZHOUKAN - ENDING -->
        <activity android:name=".test.TestActivity2">
            <!--<intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>-->
        </activity>

    </application>

</manifest>